# 说明：
# Linux环境需额外安装系统级C库以确保项目运行成功：sudo apt install -y pkg-config libcairo2-dev libgirepository1.0-dev gobject-introspection python3-dev gir1.2-ayatanaappindicator3-0.1 python3-gi
# Linux环境，如果需要实现构建生成appimage，需要额外执行下述指令以安装和运行appimagetool：
# sudo wget https://github.com/AppImage/AppImageKit/releases/download/continuous/appimagetool-x86_64.AppImage -O /usr/local/bin/appimagetool
# sudo chmod +x /usr/local/bin/appimagetool
# sudo apt install libfuse2
pywebview>=4.0.0
pyinstaller>=5.0.0
Pillow>=9.0.0  # 可选：用于创建图标
pystray>=0.19.0  # 用于系统托盘功能
python-dateutil>=2.8.0  # 用于日期计算
webdavclient3>=3.14.7  # WebDAV客户端
lxml>=6.0.2
desktop-notifier<=6.2.0  # 用于跨平台桌面通知
cryptography>=46.0.1; sys_platform != 'darwin' # 仅开启SSL功能时需要，MacOS桌面端不支持
pygobject<=3.42.2; sys_platform == 'linux' # Linux环境系统托盘功能需要
openpyxl>=3.0.0  # 用于导出Excel文件